Pillow==9.5.0
Requests==2.30.0
streamlit==1.29.0
streamlit_lottie==0.0.3
streamlit_timeline==0.0.2
llama-index>=0.8.5
llama-cpp-python==0.1.9
nltk==3.8.1
sentence_transformers
InstructorEmbedding==1.0.0
huggingface-hub==0.16.4
ibm-watson-machine-learning>=1.0.320
torch==2.0.1
langchain
pydantic>=1.10.0
langchain==0.0.254
